@model Incident
@{
  string title = ViewBag.Action + " Incident";
  ViewData["Title"] = ViewBag.Action;
}

<div class="pt-4">
  <h2>@title</h2>
</div>

<form asp-action="@ViewBag.Action" method="post">
  <div>
    <p>Technician: @ViewBag.TechnicianName</p>
    <input asp-for="TechnicianId" type="hidden" value="@Model.TechnicianId">
    <p>Customer: @ViewBag.CustomerName</p>
    <input asp-for="CustomerId" type="hidden" value="@Model.CustomerId">
    <p>Product: @ViewBag.ProductName</p>
    <input asp-for="ProductId" type="hidden" value="@Model.CustomerId">
    <p>Title: @Model.Title</p>
    <input asp-for="Title" type="hidden" value="@Model.Title">
    <p>Date Opened: @Model.OpenDate.ToString("yyyy-MM-dd")</p>
    <input asp-for="OpenDate" type="hidden" value="@Model.OpenDate">
  </div>

  <div class="form-group">
    <label asp-for="Description">Description</label>
    <input asp-for="Description" value="@ViewBag.Description" class="form-control">
  </div>

  <div class="form-group">
    <label asp-for="CloseDate">Date Closed</label>
    <input type="date" asp-for="CloseDate" value="@Model.NullDateToString(Model.CloseDate, "yyyy-MM-dd")" class="form-control">
  </div>

  <button type="submit" class="btn btn-info">@ViewBag.Action</button>
  <a asp-controller="Incident" asp-action="Incident" class="btn btn-danger">Cancel</a>
</form>
