@model Customer
@{
  string title = ViewBag.Action + " Customer";
  ViewData["Title"] = ViewBag.Action;
}

<div class="pt-4">
  <h2 class="pb-3">@title</h2>
</div>

<form asp-action="@ViewBag.Action" method="post">
  <div class="form-group">
    <label asp-for="FirstName">First Name</label>
    <input asp-for="FirstName" value="@ViewBag.FirstName" class="form-control">
    <span asp-validation-for="FirstName" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="LastName">Last Name</label>
    <input asp-for="LastName" value="@ViewBag.LastName" class="form-control">
    <span asp-validation-for="LastName" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label for="CountryId">Country</label>
    <select asp-for="CountryId" class="form-control" asp-items="@(new SelectList(ViewBag.Countries, "Id", "Name", ViewBag.CountryId))">
    </select>
    <span asp-validation-for="CountryId" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="Address">Address</label>
    <input asp-for="Address" value="@ViewBag.Address" class="form-control">
    <span asp-validation-for="Address" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="City">City</label>
    <input asp-for="City" value="@ViewBag.City" class="form-control">
    <span asp-validation-for="City" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="State">State</label>
    <input asp-for="State" value="@ViewBag.State" class="form-control">
    <span asp-validation-for="State" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="PostalCode">Postal Code</label>
    <input asp-for="PostalCode" value="@ViewBag.PostalCode" class="form-control">
    <span asp-validation-for="PostalCode" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="Phone">Phone Number</label>
    <input asp-for="Phone" value="@ViewBag.Phone" class="form-control">
    <span asp-validation-for="Phone" class="text-danger"></span>
  </div>

  <div class="form-group">
    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" value="@ViewBag.Email" class="form-control">
    <span asp-validation-for="Email" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-info">@ViewBag.Action</button>
  <a asp-controller="Customer" asp-action="Customer" class="btn btn-danger">Cancel</a>
</form>

