@model IEnumerable<Product>
@{
  ViewData["Title"] = "Products";
}

<div class="pt-4">
  <h2 class="pb-2">Manage Products</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Release Date</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      @foreach(Product p in Model)
      {
        <tr>
          <td>@p.Code</td>
          <td>@p.Name</td>
          <td>@p.Price</td>
          <td>@p.ReleaseDate</td>
          
          <td><a type="button" class="btn btn-warning" asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id ="@p.Id">Edit</a></td>
          <td><a type="button" class="btn btn-danger" asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@p.Id">Delete</a></td>
        </tr>
      }
    </tbody>
  </table>
  <a type="button" class="btn btn-info" asp-area="" asp-controller="Product" asp-action="Add">Add Product</a>
</div>